@import "/src/styles/variables/module";
:host {
  padding-bottom: 10px;
  border-bottom: 1px solid $color_twitter-background;

  .tw_post {
    &__body {
      flex: 1;
    }
    &__header {
      flex: 1;
      align-items: center;
    }

    &__content {
      overflow-wrap: break-word;
      padding-right: 2.5em;
    }
  }
}
