/* You can add global styles to this file, and also import other style files */
@import "./styles/variables/module";
@import "~bootstrap/scss/bootstrap.scss";
.tw {
  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  &__padding_base {
    padding: 16px 20px;
  }

  &__border {
    &--bottom-primary {
      border-bottom: 1px solid $color_twitter-background;
    }
  }
}
